<ion-header>
  <ion-toolbar>
    <ion-title>
      Door State
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" color="success">
    <img class="ion-padding-top" src="/assets/locked.svg" alt="" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">OPEN</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Latest log</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Last log was recorded on 12/12/1970 23:00:12</p>
    </ion-card-content>
  </ion-card>
</ion-content>

